
.asideBli{
    width: 30%;
    height: 740px;
    background-color: #CBD5E1;
    position: absolute;
    top: 296px;
    bottom: 150px;
    left: 70%;
}

.referencia{
    outline: 2px solid blue;
    margin: 25px;
    width: auto; /* El ancho se ajustará al contenido */
    height: auto;
    text-align: center;
    font-family: "Times New Roman", sans-
    serif;
    font-style: oblique;
    color:black;
    font-weight: bold;

}

ul{
    list-style: none;
}

.menu-vertical{
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: #d4b296;
}

.menu-vertical li:hover{
    background-color: coral;
}
.menu-horizontal li:hover .menu-vertical{
    display: block;
}
.menu-vertical li a{
    display: block;
    color: white;
    padding: 15px 15px 15px 20px;
    text-decoration: none;
}