
ul{
    list-style: none;
}
.menu-horizontal{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.menu-horizontal >li >a{
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}

.menu-vertical{
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: darkslateblue;
}

.menu-horizontal >li:link{
    color: blue;
}
.menu-horizontal >li:visited{
    color: #660099;
}
.menu-horizontal >li:hover{
    font-style: italic;
}

.menu-horizontal li:hover .menu-vertical{
    display: block;
}

.menu-vertical li:hover{
    background-color: coral;
}
.menu-vertical li a{
    display: block;
    color: white;
    padding: 15px 15px 15px 20px;
    text-decoration: none;
}

#tilCrear{
    text-align: center;
    text-transform: uppercase;
    font-family: "Courier New", monospace;
    font-weight: bold;
    font-size: 38px;
    float: right;
    position: absolute;
    top: 60px;
    right: 580px;
    bottom: 20px;
}