
div {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #007BFF; /* Cambia el color del texto del encabezado */
}

p {
    color: #333; /* Cambia el color del texto de los párrafos */
    margin-bottom: 10px; /* Añade un margen inferior a los párrafos */
}