
.estilo_formulario{
    width: 800px;
    background-color: #510A0A;
    border: none;
    padding: 35px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 5px;
    font-family: "Times New Roman", serif;
    box-shadow: 7px 13px 37px #000;
}
#estilo_legend{
    padding: 20px;
    background-color: #1D2C3B;
    color: white;
    font-family: "Times New Roman", serif;
    text-align: center;
    text-decoration: underline;
    font-style: italic;
    font-size: 20px;
    border-radius: 3px;
}
.estilo_label{
    display: block;
    padding: 15px;
    margin: 15px;
    font-family: "Times New Roman",serif;
    font-size: 20px;
    color: white;
    text-align: center;
}

.estilo_label_autor{
    padding: 15px;
    margin: 20px;
    font-family: "Times New Roman",serif;
    font-size: 20px;
    color: white;
}

#tituloEstado{
    color: white;
    font-family: "Times New Roman",serif;
    font-size: 28px;
    margin: 20px;
    padding: 15px;
    text-decoration: underline;
}

.estilo_input{
    width: 95%;
    background: #CBD5E1;
    padding: 10px;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid #58483e;
    font-family: "Times New Roman",serif;
    font-size: 16px;
    text-transform: capitalize;
}
.botons{
    width: 100%;
    height: 70px;
    margin: 20px;
    padding: 20px;
}
.estilo_botones{
    display: inline-block;
    width: 40%;
    margin: 16px;
    padding: 15px;
    border: none;
    background: #47423E;
    color: white;
    font-family: "Times New Roman",serif;
    font-size: 16px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    cursor: pointer;
}
#radio{
    padding: 20px 0;
    border-bottom: 1px solid #58483e;
}
.estilo_formulario input[type="radio"]{
    display: none;
}
.estilo_formulario #radio>label{
    color: #F29D64;
    padding: 5px 20px 10px 51px;
    display: inline-block;
    position: relative;
    font-size: 1em;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.estilo_formulario #radio>label:hover{
    background: rgba(242,157,100,0.5);
}
.estilo_formulario #radio>label:before{
    content: "";
    width: 17px;
    height: 17px;
    display: inline-block;
    background: none;
    border: 3px solid #F29D64;
    border-radius: 50%;
    position: absolute;
    left: 17px;
    top: 4px;
}

.estilo_formulario #radio>input[type="radio"]:checked + label{
    padding: 5px 15px;
    background: #F29D64;
    border-radius: 2px;
    color: white;
}
.estilo_formulario #radio>input[type="radio"]:checked + label:before{
    display: none;
}