HTML{
    background-color: aliceblue;
}

BODY{
    width: 100%;
    background-color: #CBD5E1;
    margin: auto;
}

HEADER{
    width: 100%;
    height: auto;
    background-color: #8EC1D6;
}

NAV{
    width: 100%;
    height: 50px;
    background-color: #44515B;

}

MAIN {
    width: 70%;
    height: auto;
    background-color: #CBD5E1;
}

FOOTER{
    width: 100%;
    height: 100px;
    background-color: #8EC1D6;
}


.logo{
    width: 180px;
    height: 140px;
    margin: 30px 25px 25px 30px;
    padding: 10px 10px 10px 10px;

}

.tituloPrincipal{
    text-align: center;
    text-transform: uppercase;
    font-family: "Courier New", monospace;
    font-weight: bold;
    font-size: 18px;
    float: right;
    position: absolute;
    top: 50px;
    right: 500px;
    bottom: 20px;
}

.piePag{
    font-family: "Courier New", monospace;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    top: 20px;
}

